@charset "UTF-8";
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
  background-color: #fff !important;
  color: #000 !important;
  font-size: 14px;
  font-weight: bold;
}
.nav-justified>li>a{font-size: 14px;color: #000;}
.nav>li>a:focus, .nav>li>a:hover{background: none !important;}

.panel-default{border-color: none;}
.panel{background-color: #fff;border: none;-webkit-box-shadow: none;box-shadow: none;}
