@charset "UTF-8";
/* #portfolio .nav{margin-bottom:20px;}
#portfolio .list-unstyled{margin-bottom:0;}
#portfolio .list-unstyled li:last-child .progress{margin-bottom:0;}
#portfolio .list-unstyled .label{position: absolute; line-height: 15px; width:50px;}
#portfolio .list-unstyled .progress{margin-left:55px; margin-bottom: 10px; background-color: #ffffff;}
#portfolio > .row {min-height: 300px;}
#portfolio .progress-bar{width:0%; transition: none;}

#portfolio .panel-body{padding: 0; overflow: hidden; position: relative;}
#portfolio .panel-body img{ transition: 1s;}
#portfolio .panel-body:hover img{transform: scale(1.2);}
#portfolio .panel-heading .label{padding: 3px 5px;} */

/* 마우스 오버 시 나타나는 자세히보기 버튼 */
/* #portfolio .panel-body .icon_wrap{
  position: absolute;
  top:0; left:0;
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.3);
  visibility: hidden;
  transition: 1s;
  opacity: 0;
}
#portfolio .panel-body:hover .icon_wrap{visibility: visible; opacity: 1;}
#portfolio .panel-body .icon_wrap .glyphicon-search{
  position: absolute;
  top:50%;left:50%;
  transform: translate(-50%, -50%);
  color:#fff; font-size: 3em;
}
#portfolio .panel-body .icon_wrap .glyphicon-search:focus,
#portfolio .panel-body .icon_wrap .glyphicon-search:hover{text-decoration: none;} */


/* 포트폴리오 카테고리 */
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
  background-color: #fff !important;
  color: #000 !important;
  font-size: 14px;
  font-weight: bold;
}
.nav-justified>li>a{font-size: 14px;color: #000;}
.nav>li>a:focus, .nav>li>a:hover{background: none !important;}

/* .nav-pills>li>a{
  border-radius: 0 !important;
  flex: 1 1 auto;
  margin: 10px;
  padding: 20px !important;
  text-align: center !important;
  text-transform: uppercase;
  position: relative !important;
  overflow:hidden;
  transition: .3s;
}
.nav-pills>li>a::after{
  position: absolute;
  transition: .3s;
  content: '';
  left: 50%;
  bottom: 0;
  width: 0;
  height: 32px;
  background: #f3f377;
  opacity: .3;
}
.nav-pills>li>a:hover::after{width: 100%;left: 0;} */


.panel-default{border-color: none;}
.panel{background-color: #fff;border: none;-webkit-box-shadow: none;box-shadow: none;}
