@charset "UTF-8";

/* 헤더 ====================================================================*/
header{
  position: absolute;
    
  display: none !important;
    
  background-color: #252334;
  opacity: 0 !important;
}
header.fixed{
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;

  display: block !important;
  width: 100%;
  height: 73px;

  z-index: 999999;
  opacity: 1 !important;

  background-color: #fff;
  box-shadow: 0 0 5px 0 gray;
}
header .container{
  position: relative;
  max-width: 1200px;
  margin: auto;
}

/* 로고 */
header .logo a{
  float: left;
  
  color: #000;
  font-size: 25px;
  text-decoration: none;
    
  letter-spacing: 0px;
  transition: all 280ms ease-in-out;
}
header .logo a:hover{
  letter-spacing: 2px;
}
header .logo{
}


/* 네비게이션 ================================================================*/
header .nav{
  position: absolute;
  right: 0;
  top: 7px;
  overflow: hidden;
    
  line-height: 63px;
}
header .nav ul li{
  text-align: center;
}
header .nav ul li a{
  display: block;
    
  font-size: 12px;
  color: #000;
    
  transition: all 0.5s;
}
header .nav ul li a.active{
  color: #000;
    
  letter-spacing: 3px;
}

/* 내비게이션 밑줄 효과 start */
/* header .nav ul li a::after,
header .nav ul li a::before{
  content: " ";
  display: block;
  margin: 0 auto;
    
  border: none;
  transition: all 280ms ease-in-out;
}
header .nav ul li a:hover::after,
header .nav ul li a:hover::before{
  backface-visibility: hidden;
  border: 1px solid #000;
  transition: width 350ms ease-in-out;
  width: 90%;
}
header .nav ul li a.active::after,
header .nav ul li a.active::before{
  backface-visibility: hidden;
  border: 1px solid #000;
  transition: width 350ms ease-in-out;
  width: 90%;
}
header .nav ul li a.active:hover::after,
header .nav ul li a.active:hover::before{
  border: 1px solid #000;
} */
/* 내비게이션 밑줄 효과 end */

header .nav ul li a:hover{
    letter-spacing: 3px;
}
.nav ul li a:hover{
  color:#000;
}
.nav button{
    display: none;
}


/* 컨테이너 ===============================================================*/
.container{
  max-width: 1200px;
  margin: auto;
  position: relative;
  margin-bottom: 100px;
  height: 100%;

  width: 100%;
  padding: 0 20px;
}
#slide > h2, .container > h2{
  font-size: 20px;
  color: #000;
  margin: 50px 0;
  padding-top: 50px;
  letter-spacing: 3px;
  text-align: center;
}
.container > p{
  text-align: center;
}
.container > h2 a{
  position: relative;
  display: inline-block;flex: 1;
  color: #000;
  background-image: linear-gradient(to right, #f3f377 0, #f3f377 100%);
  background-size: 0 100%;
  background-repeat: no-repeat;
  background-position: 0 0.1em;
  transition: background 3s;
}
.container:hover > h2 a{
  background-size: 100% 100%;
  background-position: 0 0.1em;
  color: #000;
}



/* 컨텐츠 ====================================================================*/
section .box{
  margin-top: 100px;
}

/* 슬라이드 */
section .box:nth-child(1){background: #fff; margin-top: 0;}
/* about */
section .box:nth-child(2){margin-top: 0;}
/* work */
section .box:nth-child(6){background: #fff;height: 600px;}



/* slide===================================================================== */

/* swiper 재설정 */
#slide .main_slide{width: 100%;height: 600px;}
/* 스와이퍼 슬라이드 백그라운드 설정 */
.swiper-wrapper{height:600px;}
.swiper-slide{opacity: .8;transition: opacity 2s linear;}
.swiper-slide.swiper-slide-active{opacity: 1;transition: opacity 2s linear;}

/* slide */
#slide{width: 100%;}

/* main swiper slide */
.main_slide div.swiper-wrapper .swiper-slide {
  text-align: center;
  font-size: 18px;
  padding:0;
  height: 100%;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide{color: #000 !important;}

/* 슬라이드 공통 */
.slide_one, .slide_two{background: #fff;}
/* 텍스트 공통 */
.fixedtext_wrap{
  position: absolute;
  text-align: center;
  top: 0;
  z-index: 100;
  margin-top: 55px;
}
.fixedtext_wrap p{
  padding: 10px;
  color: #fff;
  font-size: 18px;
  float: left;
}
.button_link1{
  position: absolute;
  text-align: center;
  width: 100%;
  left: 0;
  bottom: 110px;
  margin-bottom: 40px;
  z-index: 100;
  opacity: 0;transform: translate3d(50%,0,0);
  transition: all .6s cubic-bezier(0.215, 0.61, 0.355, 1) 1.4s;
}
.button_link1 a{
  color: #fff;
  padding: 15px 30px;
  font-size: 18px;
  background: #000;
  border-radius: 30px;
  transition: all 1s ease-in-out;
}
.button_link1 a:nth-child(1):hover, .button_link1 a:nth-child(2):hover{
  background: rgba(230, 230, 230, 0.68);
  color: #000;
}

.button_link2{
  position: absolute;
  width: 300px;
  left: 50%;
  margin-bottom: -30px;
  z-index: 100;
  text-align: center;
  opacity: 0;
  transform: translate3d(100%,0,0);
  transition: all .6s cubic-bezier(0.215, 0.61, 0.355, 1) 1.4s;
}
.button_link2 a{
  display: block;
  width: 70%;
  color: #fff;
  font-size: 18px;
  padding: 15px 30px;
  margin: 10px;
  background-color: #000;
  border-radius: 30px;
  transition: all 1s ease-in-out;
}
.button_link2 a:nth-child(1):hover, .button_link2 a:nth-child(2):hover{
  background: rgba(230, 230, 230, 0.68);
  color: #000;
}
.swiper-slide.swiper-slide-active .button_link2{opacity: 1;
  left: 800px;transform: translate3d(0,0,0);
}


/* 페이지네이션 재정비*/
.swiper-button-next, .swiper-container-rtl .swiper-button-prev{background-image: none !important ;}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next{background-image: none !important;}

/* 첫번째 슬라이드 */
.slide_text{
  position: relative;
  width: 1100px;
  font-size: 36px;
  color: #000;
  letter-spacing: 10px;
  margin: 0 auto;
  opacity: 0;
  transform: translate3d(-20%,0,0);
  transition: all .6s cubic-bezier(0.215, 0.61, 0.355, 1) 1.4s;
  }
.swiper-slide.swiper-slide-active .slide_text{opacity: 1;transform: translate3d(0,0,0);}
.swiper-slide.swiper-slide-active .slide_text p{
  font-family: 'Nanum Gothic Coding', monospace;
}
.main_slide > div > .slide_one > p{color: #fff;font-size: 40px;}
.swiper-slide.swiper-slide-active .button_link1{opacity: 1;transform: translate3d(0,0,0);}



/* about =====================================================================*/
#about .container > p{
  font-size: 14px;
  color: #aaa5a5;
  margin-top: -50px;
  text-align: center;
}
.about_img img{width: 300px;}
.about_img{position: relative;height: 100%;}
.aboutext_wrap{
  /* width: auto; */
}
.aboutext_wrap .aboutext{
  display: inline;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.aboutext_wrap .aboutext p:nth-child(1){font-family: 'Indie Flower', cursive  !important;
  text-align: left;}
.aboutext_wrap .aboutext p:nth-child(2){
  position: relative;
  height: auto;
  font-size: 16px;
  text-align: left;
  letter-spacing: 2px;
  line-height: 1.6;
  font-family: 'Nanum Myeongjo', serif  !important;
}

.about_button{
  position: absolute;
  right: 0;
  width: 100%;
  padding: 0 100px;
}
.about_button > button{
  color: #e5e5e5;
  font-size: 14px;
  padding: 10px 20px;
  padding-right: 28px;
  background: none;
  border: 0;
  outline: none;
  font-family: 'Nanum Gothic Coding', monospace;
  transition: opacity 0.1s ease, padding 0.1s ease;
}
.about_button > button:hover{
  color: #515b8f;
  opacity: 1;
  padding: 10px 20px;
}
.about_button > button::after{
  overflow: hidden;
  font-family: FontAwesome;
  content: '\f054';
  display: inline-block;
  vertical-align: bottom;
  font-size: 14px;
  font-weight: bold;
  margin-left: -13px;
  width: 0;
  opacity: 0;
  white-space: nowrap;
  transition: width 0.2s ease, opacity 0.1s ease;
  line-height: 3;
  height: 40px;
}
.about_button button:hover::after{
  width: 82px;
  color: #515b8f;
  margin-left: -13px;
  padding-top: 8px;
  opacity: 1;
}


/* 수정한 부분 start ========================================================= */
/* 11.30 보완 */

/* .head-line{
  width: 5px;
  height: 50px;
  background: white;
  margin-left: 10px;
  
  display: block;    
  position: fixed;
  top: 0;
}
.txt-top{
  position: absolute;
  top: 0;
  left: 0;
 
  padding: 20px;
  margin-left: 20px;
} */





/* main =============================== */
#main{
  /* height: 840px; */
  
  border: 1px solid gray;
}

/* main-left  */
.main-left{
  float: left;
  width: 50%;
}
/* 이미지 백그라운드로 넣은 것 */
/* .main-left > div{
  background-image: url(../img/prototype.jpg);
  background-size: 200%;
  background-position: 80% 0;
  background-repeat: no-repeat;
  
  height: 773px;
  margin: 0 100px;
  overflow: hidden;
} */

.main-left div.images{
/*     line-height: 700px; */
}
.main-left div.images img{
/*     vertical-align: middle; */
  width: 33.3%;
}
.main-background{
  background: rgba(240, 235, 224, 1);
  width: 100px;
  height: 950px;
  
  position: absolute;
  top: 0;
  
  z-index: -1;
}





/* .main-right-box  */

.main-right{
  display: table;
  height: 700px;
  
  position: relative;
}
.main-right div.main-pre{
  color: red;
}
.main-right div.main-introduce{
  display: table-cell;
  vertical-align: middle;
}
.main-right div.main-introduce ul li:nth-child(3){
  padding-top: 20px;
}
.main-right .border{
  border: 1px solid rgb(221, 170, 170);
  
  position: absolute;
  top: 0;
  right: 0;
  width: 600px;
  height: 300px;
  margin-top: 200px;
  margin-right: 150px;
}





/* footer 
footer{
 line-height: 200px;
}
.txt-footer{
  position: absolute;
  right: 0;
}

/* 수정한 부분 end ============================================================= */



/* skill===================================================================== */
#skill .container > p{font-size: 14px;color: #aaa5a5;margin-top: -50px;}
#skill img{margin-bottom: 30px;margin-top: 40px;}
#skill .container h4{color: #000;font-size: 25px;margin: 10px 0;}
#skill .container h3{font-size: 14px;}
#skill .skill_text{font-size: 12px;font-weight: lighter;}
#skill .skill_area{padding-top: 50px;}
#skill .container .skill_area > div{height: 300px;}

/* 마우스오버했을 때 */
.hover_wrap{position: relative;height: 400px;}
.hover_wrap .skill_border{
  width: 100%;
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  border: none;
  padding-left: 60px;padding-right: 60px;
  font-size: 14px;
  outline: none;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#skill_hover:hover .border{
  width: 100px;
  height: 100px;
  border-color: #a5a5a5;
}
.border2{
  position: absolute;
  bottom: 0;
  right: 0;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  width: 30px;
  height: 30px;
  transition: all .5s ease-in-out;
}
.border1{
  position: absolute;
  background: none;
  top: 0;
  left: 0;
  border-left: 1px solid white;
  border-top: 1px solid white;
  width: 30px;
  height: 30px;
  transition: all .5s ease-in-out;
}

/* workprocess=============================================================== */
#workprocess img{margin-bottom: 30px;margin-top: 40px;}
#workprocess h4{color: #000;font-size: 18px;margin: 10px 0;}

/* work =======================================================================*/
/* 작업물 백그라운드로 넣기 */
#work .work_one{background-image: url(../images/F&B.png) !important;
  background-size: contain;background-repeat: no-repeat;background-position: center;}
#work .work_two{background-image: url(../images/sidmool_main.png) !important;
  background-size: contain;background-repeat: no-repeat;background-position: center;}
#work .work_three{background-image: url(../images/dodream.png) !important;
  background-size: contain;background-repeat: no-repeat;background-position: center;}
#work .work_four{background-image: url(../images/motte.png) !important;
  background-size: contain;background-repeat: no-repeat;background-position: center;}
#work .work_five{background-image: url(../images/gentlemonster_main.png) !important;
  background-size: contain;background-repeat: no-repeat;background-position: center;}
#work .work_six{background-image: url(../images/megabox.png) !important;
  background-size: contain;background-repeat: no-repeat;background-position: center;}

/* 작업물에 링크 연결하기 */
#work .swiper-slide{position: relative;}
#work .swiper-slide a{position: absolute;display: block;width: 70%;height: 80%;
  top: 50px;left: 200px;}

.overlay_background{height: 100%;width: 100%;position: absolute;top: 0;left: 0;
  background-color: rgba(0, 0, 0, 0.38);opacity: 0;transition: opacity 300ms;}
.item_wrap:hover .overlay_background{opacity: 1;}
.item_meta{position: absolute;left: -10px;bottom: 35px;max-width: 210px;}
.item_title{font-size: 12px;color: #fff;margin-left: 25px;opacity: 0;transition: opacity 300ms,margin 300ms;text-align: left;}
.item_title a{font-weight: 500;color: #fff;outline: 0;}
.item_wrap:hover .item_title{margin-left: 50px;opacity: 1;}
.item_category{color: #fff;font-size: 14px;line-height: 14px;opacity: 0;margin-left: 25px;
  transition: opacity 300ms,margin 300ms;text-align: left;}
.item_wrap:hover .item_category{margin-left: 50px;opacity: .8;}
.overlay_background:focus, .overlay_background:hover{color: #fff !important;}



/* 위로가기 버튼 goTop */
#goTop{
  visibility: hidden;
  opacity: 0;
  position:fixed;
  right: 20px;
  bottom: 80px;
  width: 40px;
  height: 40px;
  font-size: 20px;
  border:0;
  background: none;
  cursor: pointer;
  z-index: 100;
  transition: opacity 0.5s;

}
#goTop.on{
  visibility: visible;
  opacity: 1;
}
#goTop i{color: #515b8f;}
#goDown{
  visibility: hidden;
  opacity: 0;
  position:fixed;
  right: 20px;
  bottom: 20px;
  width: 40px;
  height: 40px;
  font-size: 20px;
  border:0;
  cursor: pointer;
  background: none;
  transition: opacity 0.5s;
  z-index: 100;
}
#goDown.on{visibility: visible;opacity: 1;}
#goDown i{color: #515b8f;}

#goTop:hover{transform: translate3d(0,-10px,0);transition: transform 1s;}
#goDown:hover{transform: translate3d(0,10px,0);transition: transform 1s;}



/* contact ==================================================================*/
#contact .container{
  text-align: center;
}
#contact .contact_form{
  display: inline-block;

  color: #FFFFFF;
  border-radius: 30px;
  width: 330px;
  height: 50px;
  padding: 13px;

  font-size: 14px;
  font-weight: 500;
  background-color: #231d63;
  box-shadow: 0 14px 26px -12px rgba(70, 77, 144, 0.42),
  0 4px 23px 0px rgba(0, 0, 0, 0.12),
  0 8px 10px -5px rgba(8, 55, 255, 0.2);
  transition: all 0.2s cubic-bezier(0.4, 0, 1, 1),
    background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
#contact .contact_form:hover{
  background-image: linear-gradient(to right, rgb(50, 51, 102) , rgb(101, 67, 111));
  color: #fff;
  transform: translate3d(0, -3px, 0);
  box-shadow: 0 14px 16px -11px rgba(19, 33, 80, 0.42),
  0 12px 14px 2px rgba(0, 0, 0, 0.12),
  0 8px 10px -5px rgba(28, 59, 117, 0.2)
}


/* 푸터====================================================================== */
footer{
  height: 150px;
  background: #f6f6f6;
  color: #777;
  font-size: 13px;
  text-align: center;
}
footer .container{height: 100%;padding: 40px;margin-bottom: 0;}
footer .sns{
  position: absolute;
  top: 20px;left: 50%;
  transform: translateX(-50%);
}
.sns li{float: left;width: 33.3%;}
.sns li a img{border-radius: 30px;}
.sns li a img:hover{transform: translate3d(0,-10px,0);}
footer small{
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding-bottom: 10px;
}















/* mobile ====================================================================*/
@media (max-width:767px) {

/* main */
  /* header */
  header{
    position: fixed;
    width: 100%;
    height: 70px;
    top: 0;
    background: #efefed;
    display: block !important;
    opacity: 1;
  }
  header.fixed{
    height: 70px;
    line-height: 1.5;
    background-color: rgb(255, 254, 254);
    transition: background-color 1s ease;}
  header .logo{text-align: center;}
  header .logo a{font-size: 14px;color: gray;}
  header .container h1.logo a{float: none;}

   /* nivigation */
   header .nav{
    right: -202px;
    margin-top: -10px;
    z-index: 10;
    position: fixed;
    height: 100%;
    background: #424242;
    overflow: visible;
    transition: all 0.5s;
   }
   .nav.on{
     right: 0;
     box-shadow: 0 0 10px 5px rgba(0,0,0,0.2);

   }
   .nav button{
     display: block !important;
     position: absolute;
     left: -45px;
     width: 50px;
     height: 50px;
     font-size: 2em;
     padding: 15px 15px 5px 5px;
     background: none;
     color: #000;
     border: 0;
   }
   .nav ul{
     width: 200px;
     padding-top: 70px;
   }
   header .nav ul li{
     padding-bottom: 10px;
   }
   header .nav ul li a{padding: 0 50px;}
   header .nav ul li a.active{color: #fff;}
   header .nav ul li a.active::after, header .nav ul li a.active::before{
     border-color: #fff;
   }


/* section */
section .box{margin-top: 0;}
section .box:nth-child(6){margin-top: -100px;height: 550px;}

.container > h2 a{position: relative;display: inline-block;flex: 1;
  background: #f3f377;color: #000;
  background-size: 0 100%;background-repeat: no-repeat;
  background-position: 0 0.1em;}


/* slide */
  body > section{margin-top: -56px;}
   #slide .main_slide{height: 500px;}
   .swiper-wrapper{height: 200px;}
   .slide_logo{margin-left: 10px;}
   .main_slide .slide_two .slide_logo img:nth-child(1),
   .main_slide .slide_two .slide_logo img:nth-child(2),
   .main_slide .slide_two .slide_logo img:nth-child(3),
   .main_slide .slide_two .slide_logo img:nth-child(6),
   .main_slide .slide_two .slide_logo img:nth-child(7){width: 50px;}
   .main_slide .slide_two .slide_logo img:nth-child(4){margin-left: 10px;}
   .main_slide .slide_two .slide_logo img:nth-child(6){margin-left: 60px;}
   .main_slide .slide_two .slide_logo img{margin-bottom: 0;}
   .button_link2{width: 200px;left: 220px;}
   .swiper-slide.swiper-slide-active .button_link2{left: 250px;}
   .button_link2 a{font-size: 14px;border:0;}

/* about */
   .about_img{height: auto;}
   .aboutext_wrap{position: unset !important;top: 0 !important;}
   .about_button{padding: 0;}

/* skill */
   section .box:nth-child(3){height: auto;}

/* workprocess */
   section .box:nth-child(4){height: auto;}
   #workprocess .container div.row{margin-bottom: 50px;}

  /* work */
  #work .swiper-slide a{top: 30px !important;left: 50px !important;}
  .swiper-button-next, .swiper-container-rtl .swiper-button-prev{top: 70%!important;}
  .swiper-button-prev, .swiper-container-rtl .swiper-button-next{top: 70%!important;}

  /* contact    */
  .contact_info{padding-top: 15px;margin-bottom: 120px;}
  .contact_info p{font-size: 13px;}
  .contact_info p:nth-child(1){letter-spacing: 0px;}
  .contact_info ul{width: 100%;}
  .contact_info ul li{font-size: 18px;width: 100%;}
  .contact_info ul li:nth-child(2){margin-left: 0px;}
  .contact_info ul li:nth-child(1){margin-right: 0;}

  .contact_form a{width: 300px;}

}



/* 태블릿 ====================================================================*/
@media (min-width:768px) {
  header .nav ul{width: 450px;}
  header .nav ul li{padding:0;}
}




